/* Map.css oder RoutingMachine.css */

/* Gesamtcontainer der Wegbeschreibung */
.leaflet-routing-container {
    background-color: #333 !important; /* Hintergrundfarbe */
    color: #fff !important; /* Textfarbe */
    border-radius: 8px; /* Abgerundete Ecken */
    padding: 10px; /* Innenabstand */
    max-height: 300px; /* Maximale Höhe für größere Bildschirme */
    max-width: 400px; /* Maximale Breite */
    overflow-y: auto; /* Vertikale Scrollbar hinzufügen */
    overflow-x: hidden; /* Horizontale Scrollbar deaktivieren */
}

@media (max-width: 768px) {
    .leaflet-routing-container {
        max-height: 200px; /* Maximale Höhe für Tablets und kleine Bildschirme */
        max-width: 300px; /* Maximale Breite */
    }
}

@media (max-width: 480px) {
    .leaflet-routing-container {
        max-height: 150px; /* Maximale Höhe für Mobilgeräte */
        max-width: 250px; /* Maximale Breite */
    }
}

/* Wegbeschreibungsheader */
.leaflet-routing-alt {
    background-color: #444 !important; /* Hintergrundfarbe */
    color: #fff !important; /* Textfarbe */
}

/* Wegbeschreibungszeilen */
.leaflet-routing-instructions {
    background-color: #333 !important; /* Hintergrundfarbe */
    color: #fff !important; /* Textfarbe */
}

/* Wegbeschreibungsschritte */
.leaflet-routing-instruction {
    color: #fff !important; /* Textfarbe */
}

/* Wegbeschreibungssymbole */
.leaflet-routing-icon {
    filter: invert(1); /* Symbole invertieren, um sie an den dunklen Hintergrund anzupassen */
}
