/* Ensure the sheet modal takes up the right amount of space */
.wikipedia-sheet {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

/* Style for the header */
.wikipedia-sheet-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.wikipedia-sheet-title {
    font-size: 18px;
    font-weight: bold;
}

.wikipedia-info{
    text-align: justify;
    padding-bottom: 2rem;
    height: 100%;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .wikipedia-sheet {
        width: 400px; /* Adjust the width for larger screens */
        max-width: 400px;
        max-height: 20%; /* Adjust max-height as necessary */
    }
}